/vendor/
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Laravel 11+
/.phpunit.cache
/bootstrap/cache/
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public/
/storage/app/private/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/

# Env
.env
.env.backup
.env.production
.env.testing

# MacOS / Windows OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# SQLite
database/*.sqlite
database/*.sqlite-journal
